  <h1>Dice Roll</h1>
  <ul>
    <li><a href='2d6'>Roll 2 6-sided dice</a></li>
    <li><a href='2d10'>Roll 2 10-sided dice</a></li>
    <li><a href='1d20'>Roll 1 20-sided dice</a></li>
    <li><a href='5d4'>Roll 5 4-sided dice</a></li>
  </ul>
